{% extends "base.html" %}
{% set current_year = range(2025, 2030)[0] %}
{% block title %}О нас{% endblock %}

{% block content %}
<h1 class="fade-in">Мы помогаем начать работать с комфортом</h1>
<p class="fade-in">Привет! Меня зовут Юрий, и я запустил этот проект, потому что знаю, как сложно начинать с нуля.</p>
<p class="fade-in">Аренда мебели — это гибкое решение для удалённых сотрудников, фрилансеров и малых компаний.</p>
<a href="#modal" class="btn fade-in">Заказать мебель</a>
{% endblock %}