<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- Шапка сайта -->
{% include "header.html" %}

<!-- Основной контент -->
<section class="hero">
    {% block content %}
    {% endblock %}
</section>

<!-- Подвал сайта -->
{% include "footer.html" %}

<!-- Модальное окно -->
<div id="modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('modal').style.display='none'">&times;</span>
        <h2>Оформить заказ</h2>
        <form onsubmit="sendToTelegram(); return false;" style="display:flex; flex-direction: column; gap: 10px;">
            <label for="name">Имя:</label>
            <input type="text" id="name" required>

            <label for="phone">Телефон:</label>
            <input type="tel" id="phone" placeholder="+7 (XXX) XXX-XX-XX" required>

            <ul id="cart-list"></ul>

            <label for="product">Выберите товар:</label>
            <select id="product" onchange="updateProductImage()">
                <option value="">----</option>
                <option value="Комплект «Домашний кабинет»" data-img="/static/images/домашний-кабинет.jpg">Комплект «Домашний кабинет»</option>
                <option value="Стол офисный" data-img="/static/images/стол.jpg">Стол офисный</option>
                <option value="Офисный стул" data-img="/static/images/стул.jpg">Офисный стул</option>
                <option value="Стеллаж угловой открытый" data-img="/static/images/стеллаж1.jpeg">Стеллаж угловой открытый</option>
                <option value="Стеллаж с дверцами" data-img="/static/images/стеллаж2.jpeg">Стеллаж с дверцами</option>
                <option value="Стеллаж прямой открытый" data-img="/static/images/стеллаж3.jpeg">Стеллаж прямой открытый</option>
            </select>

            <div style="margin-top:10px;">
                <img id="product-image" src="" alt="Превью мебели" style="width:100px; border-radius:6px;">
            </div>

            <label for="duration">Срок аренды:</label>
            <select id="duration">
                <option value="1 месяц">1 месяц</option>
                <option value="3 месяца">3 месяца</option>
                <option value="6 месяцев">6 месяцев</option>
                <option value="12 месяцев">12 месяцев</option>
            </select>

            <button type="submit" class="btn" style="width:100%; margin-top:20px;">Написать в Telegram</button>
        </form>
    </div>
</div>

<!-- JS -->
<script src="/static/js/app.js"></script>

</body>
</html>