{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<h1 class="fade-in">Свяжитесь с нами</h1>
<ul class="fade-in">
    <li>Email: <a href="mailto:you@example.com">you@example.com</a></li>
    <li>Telegram / WhatsApp: <a href="https://t.me/yourusername"  target="_blank">@yourusername</a></li>
    <li>Телефон: +7 (XXX) XXX-XX-XX</li>
    <li>Адрес самовывоза: ул. Пушкина, д. 10</li>
</ul>
<a href="#modal" class="btn fade-in">Оформить заказ</a>
{% endblock %}
