{% extends "base.html" %}
{% block title %}Аренда офисной мебели в Петрозаводске{% endblock %}

{% block content %}
<h1 class="fade-in">Домашний кабинет без лишних затрат</h1>
<p class="fade-in">Арендуйте качественную мебель без больших вложений. С возможностью выкупа.</p>
<a href="/gallery" class="btn fade-in">Выбрать мебель</a>

<div class="features">
    <div class="feature-card">
        <img src="/static/images/домашний-кабинет.jpg" alt="Комплект «Домашний кабинет»">
        <h3>Комплект «Домашний кабинет»</h3>
        <p>Готовый комплект, выдержан стиль</p>
    </div>
    <div class="feature-card">
        <img src="/static/images/стол.jpg" alt="Стол офисный">
        <h3>Рабочий стол</h3>
        <p>Эргономичный, есть полки и ящики</p>
    </div>
    <div class="feature-card">
        <img src="/static/images/стул.jpg" alt="Офисный стул">
        <h3>Офисный стул</h3>
        <p>Поддержка спины, колесики, прочный каркас</p>
    </div>
    <div class="feature-card">
        <img src="/static/images/стеллаж1.jpeg" alt="Стеллаж угловой открытый">
        <h3>Стеллаж угловой открытый</h3>
        <p>Стильный дизайн, прочная конструкция</p>
    </div>
    <div class="feature-card">
        <img src="/static/images/стеллаж2.jpeg" alt="Стеллаж с дверцами">
        <h3>Стеллаж с дверцами</h3>
        <p>Имеет ящики, защита от окружающей среды</p>
    </div>
    <div class="feature-card">
        <img src="/static/images/стеллаж3.jpeg" alt="Стеллаж прямой открытый">
        <h3>Стеллаж прямой открытый</h3>
        <p>Легко собирается, 6 полок</p>
    </div>
</div>
{% endblock %}
